@model IEnumerable<Category> 

@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <a href="/Category/Create" class="btn btn-outline-success mb-2 mt-2">New Category</a>

</div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date Created</th>
        
        <th></th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.Description</td>
            <td>@category.CreatedTime</td>
            <td><a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>